<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>防災情報アプリ</title>
</head>
<body>

    <header>
        <h1>防災情報アプリ</h1>
        <h1>グループ画面</h1>
    </header>

    <main>
        <div>
            <button onclick="camera()">カメラ</button><br><br>
            <button onclick="code()">コードの入力</button><br><br>
            
        </div>
    </main>

    <footer>
        <div>
            <button onclick="goToHome()">ホーム</button>
            <button onclick="goToMenber()">メンバー</button>
            <button onclick="goToGroup()">グループ</button>
            <button onclick="goToSetting()">設定</button>
            <button onclick="goTobousai()">防災情報</button>
            <button onclick="goToChat()">チャット</button>
        </div>
    </footer>

    <script>
        function camera() {
            alert('カメラページに遷移します');
        }

        function code() {
            alert('コードの入力ページに遷移します');
        }

        function goToHome() {
            alert('ホームのページに遷移します');
        }

        function goToMenber() {
            alert('メンバーのページに遷移します');
        }

        function goToGroup() {
            alert('グループのページに遷移します');
        }

        function goToSetting() {
            alert('設定のページに遷移します');
        }

        function goTobousai() {
            alert('防災情報のページに遷移します');
        }

        function goToChat() {
            alert('チャットのページに遷移します');
        }
    </script>

</body>
</html>
