<html>
<head>
<meta charset="UTF-8">
<!-- ナビゲーションバー -->
<div th:include="~{fragments/navbar}"></div>
<title>編集</title>
</head>
<form class="form py-4 needs-validation h-adr" method="post" th:action="@{/editpost/{post_id}(id = *{post_id})}" th:object="${post}">
	    
	<div class="row mt-3">        
	<label for="title" class="col-4 col-form-label text-end">タイトル</label>
	<div class="col-4">
		<input type="text" class="form-control" id="title" name="name" th:field="*{title}" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : 'is-valid'" />
	<divvf="${#fields.hasErrors('title')}" th:errors="*{title}" class="invalid-feedback">errors!
	</div>
　	</div>    
	</div>
	
	<div class="row mt-3">        
	<label for="no" class="col-4 col-form-label text-end">学籍番号</label>
	<div class="col-4">
	<input type="text" class="form-control" id="no" name="no" th:field="*{no}" th:classappend="${#fields.hasErrors('no')} ? 'is-invalid' : 'is-valid'" />
	<divvf="${#fields.hasErrors('no')}" th:errors="*{no}" class="invalid-feedback">errors!
　　</div>
　</div>    
	</div>
	
	<div class="row mt-3">        
	<label for="entYear" class="col-4 col-form-label text-end">入学年度</label>
	<div class="col-4">
	<input type="entYear" class="form-control" id="entYear" name="entYear" th:field="*{entYear}" th:classappend="${#fields.hasErrors('entYear')} ? 'is-invalid' : 'is-valid'" />
	<divvf="${#fields.hasErrors('entYear')}" th:errors="*{entYear}" class="invalid-feedback">errors!
　　</div>
　	</div>    
	</div>
	
	<div class="row mt-3">        
	<label for="classNum" class="col-4 col-form-label text-end">クラス番号</label>
	<div class="col-4">
	<input type="classNum" class="form-control" id="classNum" name="classNum" th:field="*{classNum}" th:classappend="${#fields.hasErrors('classNum')} ? 'is-invalid' : 'is-valid'" />
	<divvf="${#fields.hasErrors('classNum')}" th:errors="*{classNum}" class="invalid-feedback">errors!
　　</div>
　	</div>    
	</div>
	
	<div class="col-4">
	<input type="submit" value="送信する">
	<a href="/studentlist">戻る</a>
</div>
　　</div>
　</div>
</form> 
<!-- フッターアイコン -->
    <div class="footer-icons">
        <button onclick="location.href='/'">ホーム</button>
        <button onclick="location.href='bousaigamen'">防災画面</button>
        <button onclick="location.href='/membermoto'">メンバー</button>
        <button onclick="location.href='/setting'">ヘルプ</button>

    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>