<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿編集</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>投稿を編集</h1>

        <form th:action="@{/editpost/{postId}(id = *{postId})}" th:object="${post}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

            <div class="form-group">
                <label for="title">タイトル:</label>
                <!-- th:value を使用して投稿のタイトルを表示 -->
                <input type="text" id="title" name="title" class="form-control" th:value="${post.title}" required>
            </div>

            <div class="form-group">
                <label for="description">説明:</label>
                <!-- th:text を使用して投稿の説明を表示 -->
                <textarea id="description" name="description" class="form-control" rows="4" required th:text="${post.description}"></textarea>
            </div>

            <button type="submit" class="btn btn-success btn-block">更新</button>
        </form>
    </div>
</body>
</html>
