<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Account</title>
</head>
<body>
    <!-- ナビゲーションバー -->
    <div th:include="~{fragments/navbar}"></div>

    <div class="container">
        <form class="form py-4 needs-validation h-adr" method="post" th:action="@{/users/add}" th:object="${user}" novalidate>
            <div class="row">
                <label for="username" class="col-form-label">名前</label>
                <div>
                    <input type="text" class="form-control" id="username" name="username" th:field="*{username}" th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : 'is-valid'}" />
                    <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback" th:errors="*{username}">errors!</div>
                </div>
            </div>

            <div class="row">
                <label for="userId" class="col-form-label">userId</label>
                <div>
                    <input type="text" class="form-control" id="userId" name="userId" th:field="*{userId}" th:classappend="${#fields.hasErrors('userId') ? 'is-invalid' : 'is-valid'}" />
                    <div th:if="${#fields.hasErrors('userId')}" class="invalid-feedback" th:errors="*{userId}">errors!</div>
                </div>
            </div>

            <div class="row">
                <label for="password" class="col-form-label">パスワード</label>
                <div>
                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : 'is-valid'}" />
                    <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback" th:errors="*{password}">errors!</div>
                </div>
            </div>

            <div class="row">
                <label for="email" class="col-form-label">email</label>
                <div>
                    <input type="email" class="form-control" id="email" name="email" th:field="*{email}" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : 'is-valid'}" />
                    <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback" th:errors="*{email}">errors!</div>
                </div>
            </div>

            <div class="row">
                <label for="role" class="col-form-label">Role:</label>
                <div>
                    <select name="role" id="role">
                        <option value="ADMIN">ADMIN</option>
                        <option value="LEADER">LEADER</option>
                        <option value="GENERAL">GENERAL</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div>
                    <input type="submit" value="送信する" class="btn">
                    <a href="/" class="btn">戻る</a>
                </div>
            </div>
        </form>
    </div>

    <!-- フッターアイコン -->
    <div class="footer-icons">
        <button id="homeButton" onclick="location.href='/'">ホーム</button>
        <button id="bousaiButton" onclick="location.href='bousaigamen'">防災画面</button>
        <button id="memberButton" onclick="location.href='/membermoto'">メンバー</button>
        <button id="helpButton" onclick="location.href='/setting'">ヘルプ</button>
    </div>

</body>
</html>
