<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>防災情報アプリ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .member-list {
            margin: 20px;
        }
        .footer-icons {
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            background-color: #f8f9fa;
            padding: 10px 0;
        }
        .footer-icons img {
            width: 30px;
            height: 30px;
        }
        .post-box {
            margin: 20px;
            font-style: italic;
        }
    </style>
</head>
<body>

    <header>
        <h1>防災情報アプリ</h1>
    </header>

    <main>
        <div>
            <button onclick="camera()">カメラ</button><br><br>
            <button onclick="code()">コードの入力</button><br><br>
            
        </div>
    </main>

    <script>
        function camera() {
            alert('カメラページに遷移します');
        }

        function code() {
            alert('コードの入力ページに遷移します');
        }

        function goToHome() {
            alert('ホームのページに遷移します');
        }

        function goToMember() {
            alert('メンバーのページに遷移します');
        }

        function goToGroup() {
            alert('グループのページに遷移します');
        }

        function goToSetting() {
            alert('設定のページに遷移します');
        }

        function goTobousai() {
            alert('防災情報のページに遷移します');
        }

        function goToChat() {
            alert('チャットのページに遷移します');
        }
    </script>
    <div class="footer-icons">
        <button onclick="location.href='/'">ホーム</button>
        <button onclick="location.href=''">チャット</button>
        <button onclick="location.href='bousaigamen'">防災画面</button>
        <button onclick="location.href='membermoto'">メンバー</button>
        <button onclick="location.href='group'">グループ</button>
        <button onclick="location.href='setting'">設定画面</button>
    </div>
</body>
</html>
