<!DOCTYPE html>
<h1>初期設定</h1>
<form action="example.php" method="POST" name="contact-form">
    郵便番号<font color="red">＊必須*</font> 
    <p><input type="text" placeholder="*** - ****"></p>

    住所<font color="red">＊必須*</font> 
    <p><input type="text" placeholder=""></p>

    マンション、住所<font color="red">＊必須*</font> 
    <p><input type="text" placeholder=""></p>

    氏名<font color="red">＊必須*</font> 
    <p><input type="text" placeholder=""></p>

    携帯番号<font color="red">＊必須*</font> 
    <p><input type="text" placeholder="   -    -   "></p>

    メールアドレス(固定)
    <p><h4>****@***.com</h4></p>

    パスワード<font color="red">＊必須*</font> 
    <p><input type="text" placeholder="8文字以上入力してください"></p>
    
    確認用パスワード<font color="red">＊必須*</font> 
    <p><input type="text" placeholder="8文字以上入力してください"></p>

<button type="button" onclick="location.href=''">ログイン</button>
</form>