<!DOCTYPE html>
<h1>お問い合わせ</h1>

<style type="text/css">
textarea {
width: 250px;
height: 10em;
}

</style>

</head>
<body>

<form method="post">
<p><textarea name="msg" cols="30" rows="10"></textarea></p>

<p><input type="submit" value="送信" class="example2"></p>

</form>

</body>
<footer>
    <div>
        <button onclick="goToHome()">ホーム</button>
        <button onclick="goToMenber()">メンバー</button>
        <button onclick="goToGroup()">グループ</button>
        <a href="setting.html">
        <button onclick="goToSetting()">設定</button>
        </a>
        <button onclick="goTobousai()">防災情報</button>
        <button onclick="gotoChat()">チャット</button>
    </div>
</footer>

<script>
    function inquiry() {
        alert('お問い合わせのページに遷移します');
    }

    function notice() {
        alert('お知らせのページに遷移します');
    }

    function language() {
        alert('言語設定のページに遷移します');
    }

    function goToHome() {
        alert('ホームのページに遷移します');
    }

    function goToMenber() {
        alert('メンバーのページに遷移します');
    }

    function goToGroup() {
        alert('グループのページに遷移します');
    }

    function goToSetting() {
        alert('設定のページに遷移します');
    }

    function goTobousai() {
        alert('防災情報のページに遷移します');
    }

    function goToChat() {
        alert('チャットのページに遷移します');
    }
</script>
</html>