<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>防災情報アプリ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .member-list {
            margin: 20px;
        }
        .footer-icons {
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            background-color: #f8f9fa;
            padding: 10px 0;
        }
        .footer-icons img {
            width: 30px;
            height: 30px;
        }
        .post-box {
            margin: 20px;
            font-style: italic;
        }
    </style>
</head>
<body>

    <header>
        <h1>防災情報アプリ</h1>
    </header>

    <main>
        <div>
            <button onclick="location.href='/bousaijouhou'">防災情報画面</button>
            <br>
            <br>
            <button onclick="location.href='/bousaiMap'">防災マップ</button>
            <br>
            <br>
            <button onclick="location.href='/kishoujouhou'">気象情報</button>
        </div>
    </main>

    <div class="footer-icons">
        <button onclick="location.href='/'">ホーム</button>
        <button onclick="location.href=''">チャット</button>
        <button onclick="location.href='bousaigamen'">防災画面</button>
        <button onclick="location.href='membermoto'">メンバー</button>
        <button onclick="location.href='group'">グループ</button>
        <button onclick="location.href='setting'">設定画面</button>
    </div>

   
</body>
</html>
