<h1>map</h1>
<footer>
    <div>
        <button onclick="goToHome()">ホーム</button>
        <button onclick="goToMenber()">メンバー</button>
        <button onclick="goToGroup()">グループ</button>
        <button onclick="goToSetting()">設定</button>
        <a href="bousaigamen.html">
        <button onclick="goTobousai()">防災情報</button>
        </a>
        <button onclick="goToChat()">チャット</button>
    </div>
</footer>

<script>
    function goToHome() {
        alert('ホームのページに遷移します');
    }

    function goToMenber() {
        alert('メンバーのページに遷移します');
    }

    function goToGroup() {
        alert('グループのページに遷移します');
    }

    function goToSetting() {
        alert('設定のページに遷移します');
    }
    
    function goTobousai() {
        alert('防災情報のページに遷移します');
    }

    function goToChat() {
        alert('チャットのページに遷移します');
    }
</script>
</body>
</html>
